.top {
    background-color: red;
    color: white;
    width: 280px;
    height: 95px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    margin-left: 600px;
    margin-top: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.mid {
    background-color: white;
    margin-left: 600px;
    width: 280px;
    height: 30px;
    text-align: center;
    font-size: 55px;
    margin-top:10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    
.bot {
    margin-left: 600px;
    background-color: red;
    width: 280px;
    height:20px;
    color: red;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
}
    
